<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<br/>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>
<%= image_tag @user.signature_blank.url %>
<p>
<%= image_tag @user.signature_img.url %>
<!--
we can also show from raw base64 data
<img src="<%#= @user.signatures%>"/>
-->
